# 使用方法：
# 将此文件复制为 `.env`，然后按照下面的说明填写变量。
#
# 如果你开发多个插件，可以将二进制路径和配置文件路径存储在系统环境变量中，这里可以省略。
#
# Zotero 二进制文件路径。
# 在 Windows 系统中，路径分隔符需转义为 `\\`。
# 在 macOS 中，路径为 `*/Zotero.app/Contents/MacOS/zotero`。
ZOTERO_PLUGIN_ZOTERO_BIN_PATH = /path/to/zotero.exe

# 用于开发的配置文件路径。
# 通过 `/path/to/zotero.exe -p` 启动配置文件管理器，创建用于开发的配置文件。
# @see https://www.zotero.org/support/kb/profile_directory
ZOTERO_PLUGIN_PROFILE_PATH = /path/to/profile

# 数据库所在目录。
# 如果此字段留空，Zotero 将使用默认数据启动。
# @see https://www.zotero.org/support/zotero_data
ZOTERO_PLUGIN_DATA_DIR =

# 用于终止 Zotero 进程的自定义命令。
# zotero-plugin 已内置适用于不同平台的命令，
# 如果内置命令不满足你的需求，请修改此变量。
# ZOTERO_PLUGIN_KILL_COMMAND =

# GitHub Token
# 用于脚手架自动创建 Release 并上传资源。
# 如果你在本地（而非 CI）发布，请填写此变量。
# GITHUB_TOKEN =